head    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no, address=no, email=no")
    meta(name="description", content="株式会社テキトウは東京を拠点に活動しているクリエイティブチームです。WEB制作、WEBコンサルティング、商品企画・開発と多岐にわたるサービスを展開している為お客様にご満足して頂けるサービスを提供することが可能となっております。")
    meta(name="keywords", content="WEB, WEB制作, WEBコンサルティング, 商品企画, 商品開発, マーケティングプロモーション, 広告代理事業, オンラインショップ運営")

    //- SNS SEO
    meta(property="og:locale" content="ja_JP")
    meta(property="og:title", content="株式会社テキトウ | テキトウ、という名の物語。")
    meta(property="og:site_name", content="株式会社テキトウ | テキトウ、という名の物語。")
    meta(property="og:description", content="株式会社テキトウは東京を拠点に活動しているクリエイティブチームです。WEB制作、WEBコンサルティング、商品企画・開発と多岐にわたるサービスを展開している為お客様にご満足して頂けるサービスを提供することが可能となっております。")
    meta(property="og:type", content="website")
    //- のちに
    meta(property="og:url", content="#")
    meta(property="og:image", content="#")

    title 株式会社テキトウ | テキトウ、という名の物語。
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css")
    link(rel='stylesheet', type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css")
    link(rel='stylesheet', type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css")
    link(rel='stylesheet', href="css/style.css")
    link(rel='stylesheet', href="css/jquery-letterfx.min.css")
    script(src="https://unpkg.com/scrollreveal")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/gsap.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js")
    script(type="text/javascript" src="js/jquery.min.js")
    script(type="text/javascript" src="js/tuxsudo.min.js")
    script(type="text/javascript" src="js/jquery-letterfx.min.js")
    
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/aえnimate.css/3.7.2/animate.css")
    script(src="js/luxy.js")
    script(src="js/index.js")